h1{
    text-align: center;
}

table{
    width: 60%;
    text-align: center;
    margin: 30px auto;
    border-collapse: collapse;
}

th{
    background-color: rgb(221, 237, 238);
    height: 20px;
    padding: 2px;
}

td, th{
    border: 1px solid rgb(190, 190, 190);
}

tr:hover{
    background-color: rgb(221, 237, 238);
}